/* https://github.com/zachnietling/bootstrap-pulse/blob/master/pulse.css */


.pulse-primary {
	color: rgba(255, 255, 255, 0.8);
	box-shadow: 0px 0px 20px 5px rgba(0, 170, 255, .8);
	animation: pulse-primary 2s infinite;
}
.pulse-primary:hover {
	color: rgba(255, 255, 255, 1) !important;
}
@-webkit-keyframes pulse-primary {
	0% {
		-webkit-box-shadow: 0px 0px 20px 5px rgba(0, 170, 255,1);
		color: rgba(255, 255, 255, 1);
	}
	70% {
		-webkit-box-shadow: 0px 0px 20px 5px rgba(0, 170, 255, 0);
	}
	100% {
		-webkit-box-shadow: 0px 0px 20px 5px rgba(0, 170, 255, .9);
		color: rgba(255, 255, 255, 1);
	}
}
@keyframes pulse-primary {
	0% {
		-moz-box-shadow: 0px 0px 20px 5px rgba(0, 170, 255, 1);
		box-shadow: 0px 0px 20px 5px rgba(0, 170, 255, .8);
		color: rgba(255, 255, 255, 1);
	}
	70% {
		-moz-box-shadow: 0px 0px 20px 5px rgba(0, 170, 255, 0);
		box-shadow: 0px 0px 20px 5px rgba(0, 170, 255, 0);
	}
	100% {
		-moz-box-shadow: 0px 0px 20px 5px rgba(0, 170, 255, 1);
		box-shadow: 0px 0px 20px 5px rgba(0, 162, 255, 0.8);
		color: rgba(255, 255, 255, 1);
	}
}
